<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center ">Book A call</h1>
        <div class="col-8 offset-2">
            <form action="/user/hospital/show/<%= id%>/appoint" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="identity">Name of Patient :</label>
                    <input class="form-control" type="text" id="identity" name="identity" required>
                </div>
     
                <div class="mb-3">
                    <label class="form-label" for="disease">Disease Dscription :</label>
                    <input class="form-control" type="text" id="disease" name="disease" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Phone No:</label>
                    <input class="form-control" type="number" id="phone" name="phone" required>
                </div>
                <button class="btn btn-success">Book Now</button>
 
            </form>
    
        </div>


    </div>