<% layout('layouts/boilerplate')%>


    <div class="row">
        <div class="col-8  p-3 ">
        <div class="jumbotron ">
            <h1 class="display-4 text-danger">ERROR(:
                <%= err.status %>
            </h1>
            <p class="lead font-weight-bold">
                <%= err.message %>
            </p>
            <hr class="my-4">
            <p>
                <%= err.stack %>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        </div>
        <div class="col-4">
            <img src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-536.jpg?size=626&ext=jpg&ga=GA1.2.10785316.1689505650&semt=ais" class="img-fluid " alt="...">

        </div>
    </div>