<% layout('layouts/boilerplate')%>


    <div class="continer">
        <div class="row">
            <div class="col-6">
            <img
                src="https://img.freepik.com/premium-photo/about-us-symbol-with-3d-businessman_441797-7416.jpg?size=626&ext=jpg&ga=GA1.2.10785316.1689505650&semt=ais">
        </div>
        <div class="col-6 p-5">
            <p class="fs-5">
                <span class="fs-2 text-primary font-weight-bold">Fasted</span><br>is an online platform where a user can book an appointment in listed hospital from anywhere in the world for free of cost at hthe time of booking . It also provide another facility for user to register his/him own hospital for getting booking
            </p>
        </div>
        </div>
    </div>