
<% layout('layouts/boilerplate')%>


<div class="row">
    <div class="col-8  p-3 ">
    <div class="jumbotron ">
        <h1 class=" font-weight-bold">Contact Us 
        </h1>
        <p class="lead font-weight-bold fs-3">
        
         <h4>We can help .Our team of expert is on hand to answer your questions.</h4>
        </p>
        <hr class="my-4">
        <p>
            <h5>Phone no: +91 8650768103</h5>
            <h5>Email : aggarwalsiddharth49@gamil.com</h5>
            
        </p>
        
    </div>
    </div>
    <div class="col-4">
        <img src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?size=626&ext=jpg&ga=GA1.2.10785316.1689505650&semt=ais" class="img-fluid " alt="...">

    </div>
</div>