<% layout('layouts/boilerplate')%>
    <!-- <a href="/user/hospital/show">show hospital</a> -->


    <div class="conatiner ">
        <div class="row p-4 ">
            <div class="col-6 pt-4 mb-0">
                <h1  class="tx-primary">FASTBED</h1>
                <h1 style="font-family: Helvetica,sans-serif">Book Hospital Appointment </h1>
                <br>
                <p style="font-family: Helvetica,sans-serif" class="fs-5">With our extensive knowledge of your medical and personal necessities, booking a hospital bed from anywhere becomes a seamless and efficient process</p>
                <form action="/user/hospital/show" method="get">
                    <button class="btn btn-primary fs-5">Show Hospital</button>
                </form>
            </div>
            <div class="col-6 ">
                <img
                    src="https://plus.unsplash.com/premium_photo-1661775601929-8c775187bea6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRvY3RvciUyMGFuZCUyMHBhdGllbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
            </div>

        </div>

    </div>

    <div class="conatiner ">
        <div class="row p-4 ">
            <div class="col-6 pt-4 mb-0">
                <h1  class="tx-primary">FASTBED</h1>
                <h1 style="font-family: Helvetica,sans-serif">Register your Hospital </h1>
                <br>
                <p style="font-family: Helvetica,sans-serif" class="fs-5">Make your hospital availabe for booking anytime and anywhere from the world</p>
                <form action="/user/hospital/register" method="get">
                    <button class="btn btn-primary fs-5">Register now </button>
                </form>
            </div>
        
            <div class="col-6 ">
                <img
                    src="https://plus.unsplash.com/premium_photo-1682130168752-185b6d96268a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8aG9zcGl0YWwlMjByZWdpc3RyYXRpb258ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
            </div>
        </div>

    </div>